<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example DeclareMVC application</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="static/declare_mvc.js"></script>
    <script src="static/index.js"></script>
</head>
<body>
<h1>Title</h1>
<div id="view-content">
    <h5 id="message" style="background-color: yellow"></h5>

    <label>Input 1<input data-set="inputValue" value="" id="input_input"></label>
    <p>inputValue:<span data-text="inputValue" id="inputValue"></span></p>

    <button data-click="clickButton1()" id="counter_button">Add to counter</button>
    <button data-click="viewModel.counter=0" id="reset_counter_button">Reset counter</button>
    <p>counter:<span data-text="counter" id="counter"></span></p>
    <h5 data-visible="counter > 10">Counter is greater than 10</h5>
    <h5 data-visible="counter < 10">Counter is less than 10</h5>

    <label>Checkbox<input type="checkBox" data-set="checkboxValue" checked></label>
    <p>checkboxValue:<span data-text="checkboxValue"></span></p>

    <label>Select<select data-set="selectValue" data-options="animals">
    </select></label>

    <p>selectValue:<span data-text="selectValue"></span></p>
</div>
<button data-click="clickAddChild()" id="add_child_button">Add Child</button>
<table id="children_table">
    <thead>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Name</th>
        <th>New Name</th>
    </tr>
    </thead>
    <tbody data-repeat="children">
    <tr>
        <td>
            <button data-click="clickRemoveChild()">Remove</button>
            <span data-text="id"></span></td>
        <td data-text="title"></td>
        <td data-text="name"></td>
        <td><input data-set="name"></td>
    </tr>
    </tbody>
</table>
<h3>Other Children</h3>
<button data-click="clickAddOtherChild()" id="add_other_child_button">Add Other Child</button>
<table id="other_children_table">
    <thead>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Name</th>
        <th>New Name</th>
    </tr>
    </thead>
    <tbody data-repeat="otherChildren">
    <tr>
        <td>
            <button data-click="clickRemoveChild()">Remove</button>
            <span data-text="id"></span></td>
        <td data-text="title"></td>
        <td data-text="name"></td>
        <td><input data-set="name"></td>
    </tr>
    </tbody>
</table>
<h3>List Children</h3>
<button data-click="clickAddListChild()" id="add_list_child_button">Add List Child</button>

<table id="list_children_table">
    <thead>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Name</th>
        <th>New Name</th>
    </tr>
    </thead>
    <tbody data-repeat="listChildren">
    <tr>
        <td>
            <button data-click="clickRemoveListChild()">Remove</button>
            <span data-text="id"></span></td>
        <td data-text="title"></td>
        <td data-text="name"></td>
        <td><input data-set="name"></td>
    </tr>
    </tbody>
</table>
<p id="loading_finished"></p>
</body>
</html>
